<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to webpack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="package" content="<%= htmlWebpackPlugin.options.package %>" />
    <meta name="built" content="<%= htmlWebpackPlugin.options.now %>" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono|ZCOOL+QingKe+HuangYou"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <style>
      html,
      body,
      #root {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      * {
        box-sizing: border-box;
      }
      :root {
        font-size: 62.5%;
      }
    </style>
  </head>
  <body>
    <noscript>You need to enable Javascript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
